<div class="py-12 px-16">
  <img class="promo" src="">
  <div class="content">
    <div class="title">{{ p.name }}</div>
    <div class="chips">
      {% for tag in p.tags %}
        <div class="chip">{{ tag }}</div>
      {% endfor %}
    </div>
    <div class="description">{{ p.description }}</div>
    <div class="links">
      {% for link in p.links %}
        <a href="{{ link.url }}">
          &nbsp;{{ link.title }}
        </a>
      {% endfor %}
    </div>
  </div>
</div>