<div class="project">
  <img class="promo" src="assets/the-forgotten-jade.png">
  <div class="content">
    <div class="title">The Forgotten Jade</div>
    <div class="chips">
      <div class="chip">game jam</div>
      <div class="chip">7drl</div>
      <div class="chip">godot</div>
    </div>
    <div class="description">The Forgotten Jade is a hack and slash roguelike made for the 7DRL game jam. Theme: Roguelike.</div>
    <div class="links">
      <a href="https://yopox.itch.io/the-forgotten-jade">
        <img class="arrow" src="assets/north_east_FILL0_wght400_GRAD0_opsz48.svg">
        &nbsp;play
      </a>
      <a href="https://itch.io/jam/7drl-challenge-2024/rate/2574647">
        <img class="arrow" src="assets/north_east_FILL0_wght400_GRAD0_opsz48.svg">
        &nbsp;submission page
      </a>
      <a href="https://github.com/yopox/7drl">
        <img class="arrow" src="assets/north_east_FILL0_wght400_GRAD0_opsz48.svg">
        &nbsp;github
      </a>
    </div>
  </div>
</div>