<div class="text-sm md:text-base lg:text-lg group/project py-6 md:py-8 px-0 md:px-16 lg:px-24 flex flex-col md:flex-row items-center">
  <img class="w-[270px] h-[180px] object-cover md:opacity-75 md:group-hover/project:opacity-100 transition ease-in duration-200 shrink-0 rounded-[8px] crisp" src="{{ project.name | imgFilter | url }}">
  <div class="flex flex-col items-center md:items-start px-8 pt-3 md:pt-0">
    <div class="font-bold text-center md:text-start text-3xl md:text-4xl lg:text-5xl">{{ project.name }}</div>
    <div class="flex flex-row justify-center md:justify-normal flex-wrap my-2">
      {% for tag in project.tags %}
        <div class="text-sm lg:text-base px-3 py-1 mt-1 mx-1 md:mx-0 md:mr-2 rounded-3xl bg-[color-mix(in_srgb,var(--bg)_10%,transparent)]">{{ tag }}</div>
      {% endfor %}
    </div>
    <div class="box-border pb-2 text-center md:text-start sm:max-md:max-w-96">{{ project.description }}</div>
    <div class="flex flex-row">
      {% for link in project.links %}
        <a href="{{ link.url }}" class="group/link flex flex-row items-center mr-4">
          <svg class="size-4" viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg" shape-rendering="crispEdges"><path fill="#18161C" d="M3 1h1v1H3zm1 0h1v1H4zm1 0h1v1H5zm1 0h1v1H6zM5 2h1v1H5zm1 0h1v1H6zM4 3h1v1H4zm2 0h1v1H6zM3 4h1v1H3zm3 0h1v1H6zM2 5h1v1H2zM1 6h1v1H1z"/></svg>
          &nbsp;<span class="group-hover/link:underline">{{ link.title }}</span>
        </a>
      {% endfor %}
    </div>
  </div>
</div>