<!doctype html>
<html lang="en">

<head>
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
</head>

<body class="bg-[var(--bg)] text-[var(--accent)]">

<main class="p-12">
  {% include "../components/header.njk" %}
  {{ content | safe }}
</main>

<script src="/assets/main.js"></script>
</body>

</html>
